# -*- python -*-
# ex: set filetype=python:
def openvpnAddFormatStepsToBuildFactory(factory, shell_env=None):
    if shell_env is None:
        shell_env = {}

    factory.addStep(
        steps.Git(
            repourl=util.Interpolate("%(prop:repository)s"),
            mode="full",
            name="clone",
            description="cloning",
            descriptionDone="clone",
        )
    )

    factory.addStep(
        steps.ShellCommand(
            command="if [ -f .clang-format ]; then pre-commit run -a || true; else ./dev-tools/reformat-all.sh; fi",
            name="Run C format check",
            description="formatting C",
            descriptionDone="format C",
            env=shell_env,
        )
    )

    factory.addStep(
        steps.ShellCommand(
            command="if [ -f ./dev-tools/reformat-shell.sh ]; then ./dev-tools/reformat-shell.sh || true; fi",
            name="Run shell format check",
            description="formatting shell",
            descriptionDone="format shell",
            env=shell_env,
        )
    )

    factory.addStep(
        steps.ShellCommand(
            command="git diff --exit-code",
            name="Check for changes",
            description="checking",
            descriptionDone="check",
            env=shell_env,
        )
    )

    return factory
