# -*- python -*-
# ex: set filetype=python:
def openvpnAddTServerStepsToBuildFactory(factory):
    factory.addStep(
        steps.Git(
            repourl=util.Interpolate("%(prop:repository)s"),
            mode="incremental",
            origin="buildbot",
            name="openvpn clone",
            description="cloning",
            descriptionDone="clone",
            workdir="/home/rocky/openvpn",
        )
    )

    factory.addStep(
        steps.ShellCommand(
            command=["./t_server.sh", "nogit"],
            name="run t_server",
            description="testing",
            descriptionDone="test",
            workdir="/home/rocky/openvpn-tests/t_server/original",
        )
    )

    return factory
